USE [QLSieuThi]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/25/2025 6:29:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[GroupID] [int] NOT NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryGroup]    Script Date: 12/25/2025 6:29:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryGroup](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/25/2025 6:29:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/25/2025 6:29:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[Status] [bit] NOT NULL,
	[OrderStatus] [nvarchar](50) NULL,
	[AddressLine] [nvarchar](255) NULL,
	[Phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/25/2025 6:29:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Discount] [decimal](5, 2) NULL,
	[Description] [nvarchar](max) NULL,
	[ImageURL] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[AvgRating] [decimal](3, 2) NULL,
	[RatingCount] [int] NULL,
	[SoLuongTon] [int] NULL,
	[SoLuongBan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 12/25/2025 6:29:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 12/25/2025 6:29:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[RoleAccount] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [GroupID], [Status]) VALUES (1, N'Trái cây nhiệt đới', 1, 1)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [GroupID], [Status]) VALUES (2, N'Rau sạch', 1, 1)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [GroupID], [Status]) VALUES (3, N'Thịt bò', 2, 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryGroup] ON 

INSERT [dbo].[CategoryGroup] ([GroupID], [GroupName], [Description], [Status]) VALUES (1, N'Trái cây & Rau củ', N'Tất cả các loại trái cây và rau củ tươi', 1)
INSERT [dbo].[CategoryGroup] ([GroupID], [GroupName], [Description], [Status]) VALUES (2, N'Thịt & Hải sản', N'Thịt bò, gà, heo, cá, hải sản tươi sống', 1)
INSERT [dbo].[CategoryGroup] ([GroupID], [GroupName], [Description], [Status]) VALUES (3, N'Sữa & Đồ uống', N'Sữa, nước ép, nước ngọt', 1)
SET IDENTITY_INSERT [dbo].[CategoryGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (1, 1, 1, 2, CAST(50000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (2, 1, 2, 1, CAST(150000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (3, 2, 1, 3, CAST(40000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [Status], [OrderStatus], [AddressLine], [Phone]) VALUES (1, 1, CAST(N'2025-12-23T04:53:22.620' AS DateTime), CAST(250000.00 AS Decimal(10, 2)), 1, N'Đã nhận hàng', N'123 Đường Lê Lợi, Q1, HCM', N'0901234567')
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [Status], [OrderStatus], [AddressLine], [Phone]) VALUES (2, 1, CAST(N'2025-12-23T04:53:22.620' AS DateTime), CAST(120000.00 AS Decimal(10, 2)), 1, N'Chờ Xử Lý', N'456 Đường Nguyễn Huệ, Q1, HCM', N'0902345678')
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [Status], [OrderStatus], [AddressLine], [Phone]) VALUES (3, 1, CAST(N'2025-12-23T04:53:22.620' AS DateTime), CAST(450000.00 AS Decimal(10, 2)), 0, N'Chờ Xử Lý', N'321 Đường Hai Bà Trưng, Q1, HCM', N'0903456789')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Price], [Discount], [Description], [ImageURL], [Status], [CreatedAt], [AvgRating], [RatingCount], [SoLuongTon], [SoLuongBan]) VALUES (1, N'Mơ', 1, CAST(43.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(5, 2)), NULL, N'1.jpg', 1, NULL, NULL, NULL, 120, 3)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewID], [ProductID], [UserID], [Rating], [Comment], [CreatedAt]) VALUES (1, 1, 1, 5, N'Táo ngon, tươi và ngọt.', CAST(N'2025-12-22T06:59:52.897' AS DateTime))
INSERT [dbo].[Review] ([ReviewID], [ProductID], [UserID], [Rating], [Comment], [CreatedAt]) VALUES (2, 1, 2, 4, N'Táo hơi chua nhưng vẫn tốt.', CAST(N'2025-12-22T06:59:52.897' AS DateTime))
INSERT [dbo].[Review] ([ReviewID], [ProductID], [UserID], [Rating], [Comment], [CreatedAt]) VALUES (3, 2, 3, 5, N'Cam thơm, ngon.', CAST(N'2025-12-22T06:59:52.897' AS DateTime))
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAccount] ON 

INSERT [dbo].[UserAccount] ([UserID], [PasswordHash], [FullName], [Email], [Status], [CreatedAt], [RoleAccount]) VALUES (1, N'hash123', N'Nguyễn Văn A', N'a@example.com', 1, CAST(N'2025-12-21T06:48:22.083' AS DateTime), 1)
INSERT [dbo].[UserAccount] ([UserID], [PasswordHash], [FullName], [Email], [Status], [CreatedAt], [RoleAccount]) VALUES (2, N'hash456', N'Trần Thị B', N'b@example.com', 1, CAST(N'2025-12-21T06:48:22.083' AS DateTime), 1)
INSERT [dbo].[UserAccount] ([UserID], [PasswordHash], [FullName], [Email], [Status], [CreatedAt], [RoleAccount]) VALUES (3, N'hash789', N'Lê Văn C', N'c@example.com', 1, CAST(N'2025-12-21T06:48:22.083' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[UserAccount] OFF
GO
/****** Object:  Index [UQ_User_Product]    Script Date: 12/25/2025 6:29:15 AM ******/
ALTER TABLE [dbo].[Review] ADD  CONSTRAINT [UQ_User_Product] UNIQUE NONCLUSTERED 
(
	[ProductID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[CategoryGroup] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Chờ Xử Lý') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [AvgRating]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [RatingCount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [SoLuongBan]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserAccount] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[UserAccount] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserAccount] ADD  DEFAULT ((1)) FOR [RoleAccount]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Group] FOREIGN KEY([GroupID])
REFERENCES [dbo].[CategoryGroup] ([GroupID])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Group]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_Detail_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_Detail_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserAccount] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Product]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserAccount] ([UserID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_User]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
